.flex {
    display: flex;
}

.center {
    text-align: center;
}

ul {
    list-style-type: none;
}

a,
a:hover {
    text-decoration: none;
}
.col-1-of-2{
    width:calc((100% - 30px) / 2);
    float: left;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.col_1_of_4{
    width: calc( 100% / 4 );
    float: left;
}
.col-1-of-4{
    width:calc((100% - 90px) / 4 );
    float: left;
}
.col-1-of-3{
     width:calc((100% - 60px) / 3 );
    float: left;
}
.col-1-of-2:not(:nth-child(2n + 2)){
    margin-right: 30px;
}
.col-1-of-3:not(:nth-child(3n + 3)){
    margin-right: 30px;
}
.col-1-of-4:not(:nth-child(4n + 4)){
    margin-right: 30px;
}.col-1-of-5:not(:nth-child(5n + 5)){
    margin-right: 30px;
}.col-1-of-6:not(:nth-child(6n + 6)){
    margin-right: 30px;
}