* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Heebo', sans-serif;
    /*    transition: 0.3s;*/
}

.navigation_part {
    background-color: #061413;
}

.container {
    width: 1140px;
    margin: 0px auto;
}

.navigation {
    padding-top: 50px;
}

.navigation .logo {
    width: 18%;
}

.navigation .menu {
    width: 82%;
}

.menu ul {
    float: right;
}

.menu ul li {
    float: left;
    margin: 0px 27px;
    padding-top: 18px;
}

.menu ul li:not(:last-child) a {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    transition: all 0.3s;
    position: relative;
}

.menu ul li:not(:last-child):hover a {
    color: #fa6c39;

}

.menu ul li:not(:last-child) a::after {
    position: absolute;
    content: '';
    width: 0;
    height: 2px;
    top: 100%;
    left: 50%;
    background-color: #fe2359;
    transition: 0.5s;
    transform: translateX(-50%);
    opacity: 0;

}

.menu ul li:not(:last-child):hover a::after {
    width: 100%;
    opacity: 1;
}

.menu ul li:last-child a {
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    transition: 0.4s;
    padding: 18px 32px;
    background-image: linear-gradient(to right, #fa7236, #ff0566);
    border-radius: 50px;
    text-transform: uppercase;
}

.menu ul li:last-child a:hover {
    background-image: linear-gradient(to right, #ff0566, #fa7236);
}

.menu ul li:last-child a img {
    height: 11px;
    margin-left: 5px;
}

.text {
    background-color: #061413;
}

.web h1 {
    font-size: 62px;
    font-weight: 100;
    padding-top: 160px;
    line-height: 72px;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to right, #ff0566, #fa7236);
}

.web p {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #fff;
    margin: 45px 0 140px 0;
}

.textimg {
    z-index: 99;
    position: relative;
}

form {
    position: relative;
}

form input {
    width: 100%;
    padding: 28px 215px 28px 35px;
    border-radius: 50px;
    outline: none;
}

form button {
    position: absolute;
    content: '';
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    padding: 20px 30px;
    border-radius: 50px;
    background-color: #fc3d4d;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    border: 1px solid transparent;
    transition: 0.4s;
}

form button:hover {
    background-color: #ab9e9d;
    color: #fc3d4d;

}

.cost {
    margin-top: 32px;
    margin-bottom: 115px;

}

.cost span:not(:last-child) {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    margin-right: 10px;

}

.cost span:last-child {
    color: #bf3240;
    padding-bottom: 5px;
    border-bottom: dotted;
    transition: 0.4s;
    cursor: pointer;


}

.cost span:last-child:hover i {
    margin-left: 5px;
}

.image {
    position: relative;
}

.image img {
    position: absolute;
    content: '';
    width: 180%;
    top: 145px;
    right: -134px;
    z-index: 1;
}


/*========= price part start========= */

.price_part {
    background-color: #0a121c;

}

.col_1_of_4 .single_part {
    padding: 32px 45px 46px 40px;
    margin-bottom: 50px;
    overflow: hidden;
    transition:0.45s;
}

.col_1_of_4 .single_part:hover{
    transform: translateY(-4px) scale(1.01);
    
}
.bg {
    background-image: linear-gradient(140deg, #049ec0, #04d2d4);
}

.bgone {
    background-image: linear-gradient(140deg, #fa7236, #ff0e62);
}

.bgtwo {
    background-image: linear-gradient(140deg, #7d4894, #5c27fe);
}

.bgthree {
    background-image: linear-gradient(140deg, #f49913, #ff7b02);
}

.price_img img {
    margin-left: -125px;
    margin-top: -35px;
}
.text_part{
    margin-left: 17px;
}
.text_part h2 {
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 10px;
}

.text_part h3 {
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 50px;
}

.text_part h4 {
    font-size: 50px;
    line-height: 24px;
    font-weight: 100;
    color: #fff;
}

.text_part h4 span {
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #fff;
}

.list {
    min-height: 175px;
    margin-bottom: 50px;
}

.list ul li:first-child {
    font-size: 15px;
    line-height: 30px;
    font-weight: 700;
    color: #fff;
}

.list ul li:not(first-child) {
    font-size: 15px;
    color: #fff;
    font-weight: 400;
    line-height: 30px;
}

.single_part a {
    padding: 14px 36px;
    color: #fff;
    border: 2px solid #fff;
    background-color: transparent;
    border-radius: 50px;
    transition: 0.4s;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    
}
.single_part a:hover{
    background-color: #fff;
    color:#fc3d4d;
}
.call{
    margin-bottom: 100px;
    margin-top: 70px;
}
.call p{
   font-size:18px;
    line-height: 40px;
    font-weight: 400;
    color:#8998af;
}
.call h4{
   font-size:24px;
    line-height: 40px;
    font-weight: 400;
    color:#8998af;
}
.call span{
    color:#fc3d4d;
}

/*========= price part end========= */



/* =================== plan_part start =================== */

.plan_part{
    background-color:#0d1023;
}
.plan_part h2{
    color:#fff;
    font-size:20px;
    line-height: 24px;
    font-weight:400;
    margin-bottom: 32px;
}
.single{
    background-color:#262839;
    margin-bottom: 15px;
    padding: 7px 0;                 
}
.single i:first-child{
    color:#04aec6;
    height: 40px;
    width:40px;
    border-radius:50%;
    text-align: center;
    background-color:#353848;
    line-height:40px;
    font-size:20px;
    margin-left: 7px;
    margin-right: 13px;
}
.single span{
    color:#8998af;
    font-size: 15px;
    line-height:40px;
    font-weight: 400;
    margin-right: 116px;
}
.single i.icon_check{
    color:#34b358;
    line-height:40px;
    font-size:14px;
}
.diff_feature{
    margin-top: 125px;
}
.diff_feature p{
    font-size: 12px;
    font-weight:  900;
    line-height: 24px;
    letter-spacing: 5px;
    color:#fc3d4d;
    text-transform: uppercase;
    margin-bottom: 22px;
}
.diff_feature h1{
    font-size:34px;
    line-height: 24px;
    color:#fff;
    font-weight: 300;
    margin-bottom: 36px;
}
.diff_feature h6{
    font-size:16px;
    line-height: 28px;
    color:rgba(255,255,255,0.5);
    font-weight: 400;
    margin-bottom:82px;
}

/* =================== plan_part end =================== */

/* ================= service part start ================= */

.service_part{
    background-color:#110e2b;
}
.single_service{
    background-color:#211f38;
    position: relative;
    padding: 22px 30px 24px 20px;
    margin-bottom: 38px;
    border-radius: 3px;
}
.single_service  .icon_img{
    width:35%;
    background-image: url(../image/icon_bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    
}
.single_service  .icon_img i{
    font-size:48px;
    background-clip: text;
    color:transparent;
      -webkit-background-clip: text;
    background-image: linear-gradient(to bottom, #e7105d , #fa6a3a);
    position: absolute;
    top: 38px;
    left: 37px;
}
.single_service  .text_right{
    width:65%;
}

.single_service  .text_right h3{
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color:#fff;
    margin-bottom: 16px;
}
.single_service  .text_right p{
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    color:#8998af;
}
/* ================= service part end ================= */


/* ================= Serviece part start ================= */

.map_part{
    background-color: #140b2e;
    padding-top: 100px;
    padding-bottom: 75px;
}
.map_part .written{
margin-bottom: 60px;
    
}
.map_part .written p{
    font-size:12px;
    line-height: 24px;
    font-weight: 900;
    letter-spacing: 5px;
    word-spacing: 12px;
    color: #fc3d4d;
    margin-bottom: 18px;
    text-transform: uppercase;
}

.map_part .written h1{
    font-size:34px;
    line-height: 24px;
    font-weight: 300;
    color: #fff;
    margin-bottom:50px;
   
}

/* ================= Serviece part end ================= */
/* ================= data center part start================= */

.data_center_part{
    background-color: #170b31;
    padding-bottom: 70px;
}
.text_us p{
    font-size: 12px;
    line-height: 24px;
    font-weight: 900;
    color: #fc3d4d;
    letter-spacing: 5px;
    word-spacing: 10px;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.text_us span{
    color: #fc3d4d;
   
}
.text_us h2{
   font-size:34px;
    line-height: 24px;
    font-weight: 300;
    color: #fff;
    margin-bottom:50px;
   
}
.text_us h6{
   font-size:16px;
    line-height: 28px;
    font-weight: 400;
    color: rgba(255,255,255,0.5);
    margin-bottom:55px;
   
}
.multiple_data h1{
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    color: #fff;
}
.multiple_data p{
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    color: rgba(255,255,255,0.5);
}

.multiple_data .line{
    width: 100px;
    height: 2px;
    background-color: #fc3d4d;
    margin:27px 0px;
}
.country{
    margin-top: 60px;
    color: #8d8797;
}
.country .map{
    margin-right: 40px;
}
.country .uui{
    margin-right: 10px;
}
.country ul li span{
    margin-right: 10px;
}
/* ================= data center part end ================= */


/* ================= speed part start ================= */
.speed_part{
    background-color: #1b0b2f;
    padding-bottom: 75px;
}
.speed_text_one h2 {
  line-height: 24px;
    color: #fff;
    margin-bottom: 25px;
    font-weight: 400;
}


.speed_text_one .line{
    width: 100px;
    height: 2px;
    background-color: #fc3d4d;
    margin:27px 0px;
}
.speed_text_one p{
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    color: rgba(255,255,255,0.5);
}
.check{
    margin-top: 50px;
}
.check_one{
    margin-right: 15px;
}
.check ul li{
    color:rgba(255,255,255,0.5);
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
}
.check ul li span{
    margin-right: 10px;
}

/* ================= speed part end ================= */
